<mat-toolbar color="primary">
  <div class="container">
    <div class="row">
      <div class="col d-flex justify-content-md-start justify-content-center">
        <nav mat-tab-nav-bar backgroundColor="primary" class="d-flex justify-content-md-start justify-content-center" >
          <a mat-tab-link
             *ngFor="let link of links"
             [hidden]="link.hidden"
             routerLinkActive="cdk-keyboard-focused" #rla="routerLinkActive"
             [active]="rla.isActive"
             [routerLink]="link.path"
             [routerLinkActiveOptions]="{exact: true}"> {{link.name}} </a>
        </nav>
      </div>
    </div>
  </div>
</mat-toolbar>
