<form (ngSubmit)="submitForm(form)" #form="ngForm">
  <div class="row">
    <mat-form-field class="col-md">
      <input matInput placeholder="Логин" ngModel name="login" required>
      <mat-error>
        Это поле не может быть <strong>пустым</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field class="col-md">
      <input matInput placeholder="Пароль" ngModel type="password" name="password" required>
      <mat-error>
        Это поле не может быть <strong>пустым</strong>
      </mat-error>
    </mat-form-field>
  </div>


  <div class="row">
    <div class="col-md-1">
      <button mat-raised-button type="submit" color="primary" [disabled]="!form.valid">Войти</button>
    </div>
    <div class="col-md">
      <mat-error>{{errorMsg}}</mat-error>
    </div>
    <div class="col-md"><pre>Администратор: (admin; admin)<br>Сотрудник: (test; test)</pre></div>
  </div>

</form>
