<form (ngSubmit)="submitForm(form)" #form="ngForm">

  <div class="row">
  <mat-form-field class="col-md">
    <input matInput placeholder="Сокращенное наименование" ngModel name="name" required>
    <mat-error>
      Это поле не может быть <strong>пустым</strong>
    </mat-error>
  </mat-form-field>
  </div>

  <div class="row">
  <mat-form-field class="col-md">
    <input matInput placeholder="Полное наименование" ngModel name="fullName">
  </mat-form-field>
  </div>

  <div class="row">
  <mat-form-field class="col-md">
    <input matInput placeholder="ИНН" ngModel name="inn">
  </mat-form-field>

  <mat-form-field class="col-md">
    <input matInput placeholder="КПП" ngModel name="kpp">
  </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field class="col-md">
      <input matInput placeholder="Учредитель(ФИО)" ngModel name="fio">
    </mat-form-field>

    <mat-form-field class="col-md">
      <input matInput placeholder="Телефон" ngModel name="phone">
    </mat-form-field>
  </div>

  <div class="row">
  <mat-form-field class="col-md">
    <input matInput placeholder="Адрес" ngModel name="address">
  </mat-form-field>
  </div>
  <div class="row">
    <div class="col-md">
  <button mat-raised-button type="submit" color="primary" [disabled]="!form.valid">Сохранить</button>
    </div>
  </div>

</form>
