<mat-accordion>

  <mat-expansion-panel *ngFor="let organization of (organizationState | async).organizations" >
    <mat-expansion-panel-header>
      <h6>{{organization.name}}</h6>
    </mat-expansion-panel-header>
    <div *ngIf="!organization.isFilial">
      <p><strong>Полное наименование:</strong> {{organization.fullName}}</p>
      <p><strong>ИНН:</strong> {{organization.inn}}, <strong>КПП:</strong> {{organization.kpp}}</p>
      <p><strong>Учредитель:</strong> {{organization.fio}}</p>
      <p><strong>Адрес:</strong> {{organization.address}}</p>
      <p><strong>Телефон:</strong> {{organization.phone}}</p>
    </div>
    <div *ngIf="organization.isFilial">
      <p><strong>Должностное лицо:</strong> {{organization.fio}}</p>
      <p><strong>Адрес офиса:</strong> {{organization.address}}</p>
      <p><strong>Телефон:</strong> {{organization.phone}}</p>
    </div>
    <mat-action-row *ngIf="isAdmin">
      <button mat-stroked-button class="mr-1" (click)="onDelete(organization)" type="button" color="warn">Удалить</button>
      <a      mat-stroked-button
              [routerLink]="[organization.isFilial ? 'editfilial' : 'edit', organization.id]"
      >Изменить</a>
    </mat-action-row>

  </mat-expansion-panel>

</mat-accordion>
