@import '~angular-tree-component/dist/angular-tree-component.css';
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media (min-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

