<form (ngSubmit)="submitForm(form)" #form="ngForm">

  <div class="row">
    <mat-form-field class="col-md">
      <mat-select placeholder="Головная организация" ngModel name="parentId" required>
        <mat-option *ngFor="let organization of organizations" [value]="organization.id">
          {{organization.name}}
        </mat-option>
      </mat-select>
      <mat-error>
        Это поле не может быть <strong>пустым</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field class="col-md">
      <input matInput placeholder="Должностное лицо(ФИО)" ngModel name="fio">
    </mat-form-field>

    <mat-form-field class="col-md">
      <input matInput placeholder="Телефон" ngModel name="phone">
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field class="col-md">
      <input matInput placeholder="Адрес офиса" ngModel name="address">
    </mat-form-field>
  </div>
  <div class="row">
    <div class="col-md">
      <button mat-raised-button type="submit" color="primary" [disabled]="!form.valid">Сохранить</button>
    </div>
  </div>

</form>
